<form class="form-group container" autocomplete="off">
    <div>
        <label for="proyecto">Proyecto</label>
        <input class="form-control" type="text" id="proyecto" placeholder="Nombre del Proyecto">
    </div>

    <div>
        <label for="horas">Horas</label>
        <input class="form-control" type="number" id="horas" placeholder="Horas para completar">
    </div>

    <div>
        <label for="tecnologias">Tecnologias</label>
        <input class="form-control" type="text" id="tecnologias" placeholder="Nombre de la tecnologia">
    </div>


    <div>
        <button class="btn btn-dark mt-2 w-100" type="submit">Agregar Proyecto</button>
    </div>

</form>
